{% extends 'core/base.html' %}
{% block pagename %}Списов студентов{% endblock pagename %}
{% block title %}Список зарегистрированных в системе студентов{% endblock title %}

{% block breadcrumb %}
{% if  user.is_authenticated and user.is_superuser%}
    <a class="btn btn-primary" href="{% url 'student-foreign-create' %}"><i
        class="fas fa-plus"></i> Добавить</a>
{#    <button id="student-create" class="btn btn-primary" type="button" name="button" data-form-url="{% url 'student-create' %}"><i class="fas fa-plus mr-2"></i>Добавить</button>#}
{% endif %}
{% if  user.is_authenticated and user.user_type == 'university_employee'%}
    <a class="btn btn-primary" href="{% url 'student-foreign-upload' %}"><i
        class="fas fa-upload"></i> Импортировать из EXCEL</a>
    <a class="btn btn-primary" href="{% url 'student-foreign-create-emp' employee.edu_organisation.id %}"><i
        class="fas fa-plus"></i> Добавить</a>
{% endif %}
{% endblock breadcrumb %}

{% block content %}

  <table id="studenttable" style="width: 100%" class="table table-bordered table-hover" data-page-length='100'>
    <thead class="thead-light">
      <tr>
        <th>№</th>
        <th>Ф.И.О.</th>
        <th>Гражданство</th>
        <th>Этнический кыргыз</th>
        <th>Дата рождения</th>
        <th>Тип обучения</th>
        <th>Место обучения</th>
        <th>Факультет/кафедра</th>
        <th>Программа/направление</th>
        <th>Обучение на квалификацию</th>
        <th>Серия и номер паспорта</th>
        <th>Номер телефона</th>
        <th>Адрес проживания</th>
      </tr>
    </thead>
    <tbody>

      {% for student in students %}
        <tr class='clickable-row' data-href="{% url  'student-foreign-detail' student.id %}">
          <td>{{ forloop.counter }}</td>
          <td>{{ student.full_name }}</td>
          <td>{{ student.country }}</td>
          <td>
          {% if student.ethnical_kyrgyz%}
              Да
          {% else %}
              Нет
          {% endif %}
          </td>
          <td>{{ student.date_of_birth }}</td>
          <td>{{ student.education_type }}</td>
          <td>{{ student.edu_organisation }}</td>
          <td>{{ student.department }}</td>
          <td>{{ student.speciality }}</td>
          <td>{{ student.degree }}</td>
          <td>{{ student.passport_number }}</td>
          <td>{{ student.phone_number }}</td>
          <td>{{ student.address }}</td>

        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock content %}


{% block morejs %}
<script type="text/javascript">
 $(function () {
    $("#studenttable").DataTable({
      "scrollX": true,
      "language": {
                    "processing": "Подождите...",
                    "search": "Поиск:",
                    "lengthMenu": "Показать _MENU_ записей",
                    "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                    "infoEmpty": "Записи с 0 до 0 из 0 записей",
                    "infoFiltered": "(отфильтровано из _MAX_ записей)",
                    "infoPostFix": "",
                    "loadingRecords": "Загрузка записей...",
                    "zeroRecords": "Записи отсутствуют.",
                    "emptyTable": "В таблице отсутствуют данные",
                    "paginate":
                    {
                        "first": "Первая",
                        "previous": "Предыдущая",
                        "next": "Следующая",
                        "last": "Последняя"
                    },
                    "aria": {
                        "sortAscending": ": активировать для сортировки столбца по возрастанию",
                        "sortDescending": ": активировать для сортировки столбца по убыванию"
                    },
                    "select": {
                        "rows": {
                            "_": "Выбрано записей: %d",
                            "0": "Кликните по записи для выбора",
                            "1": "Выбрана одна запись"
                        }
                    },
                    "buttons":
                    {
                         "print": "Печать",
                         "colvis": "Видимость столбцов"
                    }
                },
       columnDefs : [
            { 'visible': false, 'targets': [3, 8, 9, 10] }
        ],
      "buttons": ["csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#studenttable_wrapper .col-md-6:eq(0)');
  });
</script>
{% endblock morejs %}
