{% extends 'core/base.html' %}


{% block content %}
    <h3>Экспорт данных</h3>
    <p>Вывод данных из базы</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Пожалуйста выберите формат выходного файла:</p>
        <select name="file-format" class="form-control my-3">
            <option selected>Выберите формат...</option>
            <option>XLS(Excel)</option>
          </select>
        <button class="btn btn-primary" type="submit">Скачать</button>
      </form>
      <a href="{% url 'student-list' %}">Вернуться к списку</a>
{% endblock content %}