{% extends 'core/base.html' %}
{% load static %}
{% block pagename %}Информация о студенте{% endblock pagename %}
{% block content-header %}
<div class="card-header">
  <div class="card-tools">
    {% if  user.is_authenticated and user.is_superuser or user.is_employee%}
        <a href="#" onclick="print_preview(); return false;" class="btn btn-tool">
            <i class="fas fa-print"></i>
            Печать
        </a>
        <a href="{% url 'student-update' object.user_id %}" class="btn btn-tool">
          <i class="fas fa-edit"></i>
          Изменить данные
        </a>
        <a href="{% url 'student-delete' object.user_id %}" class="btn btn-tool">
          <i class="fas fa-trash-alt"></i>
          Удалить студента
        </a>
    {% endif %}
  </div>
</div>
{% endblock content-header %}

{% block content %}
    <div class="row mb-4">
      <div class="col-sm-4 border-right">
        <div class="row mb-2">

          {% if object.profile_photo %}
            <img
              src="{{ object.profile_photo.url }}"
              class="float-left rounded-circle border mr-3" style="width: 150px; height: 150px; object-fit: cover; ">
          {% else %}
            <img
              src="{% static 'dist/img/avatar.png' %}"
              class="float-left rounded-circle border mr-3" style="width: 150px; height: 150px;">
          {% endif %}

          <div class="float-right">
            <h4>{{ object.lastname }} </h4>
            <h4>{{ object.firstname }} </h4>
            <h4>{{ object.fathersname }} </h4>
          </div>
        </div>

        <h6><b>Статус студента:</b> {{ object.status }}</h6>
        <h6><b>Номер телефона:</b> {{ object.phone_number }}</h6>
        <h6><b>Электронная почта:</b> {{ object.email }}</h6>


      </div>
      <div class="col-sm-8">
        <div>
          <div class="form-group row">
              <h3 class="ml-5">Личные данные студента</h3>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Дата рождения
            </label>
            <div class="col">
              {{ object.date_of_birth }}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Пол
            </label>
            <div class="col">
              {{ object.gender }}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Предыдущее место обучения
            </label>
            <div class="col border-right">
              {{ object.university}}
            </div>
            <div class="col">
              {{ object.last_school}}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Страна обучения
            </label>
            <div class="col">
              {{ object.education_country }}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Имя учебного заведения
            </label>
            <div class="col">
              {{ object.university_name }}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Год поступления
            </label>
            <div class="col">
              {{ object.year_of_applying }}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Программа образования
            </label>
            <div class="col">
              {{ object.education_program }}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Период обучения
            </label>
            <div class="col">
              {{ object.education_period }}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Специальность
            </label>
            <div class="col">
              {{ object.speciality }}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Форма обучения
            </label>
            <div class="col">
              {{ object.education_form }}
            </div>
          </div>

          <div class="form-group row">
              <h3 class="ml-5">Контактные данные родственников</h3>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              {{ object.parent_type }}
            </label>
            <div class="col">
              {{ object.parent_name }}, {{ object.parent_phone_number }}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              {{ object.parent_second_type }}
            </label>
            <div class="col">
              {{ object.parent_second_name }}, {{ object.parent_second_phone_number }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <h4>Список прикрепленных документов студента:</h4>
    <div class="card-header">
      <div class="card-tools">
            <a href="{% url 'document-upload' object.user_id %}" class="btn btn-tool">
              <i class="fas fa-file"></i>
              Добавить документ
            </a>
      </div>
    </div>
    <div>
             <table id="documentstable" style="width: 100%" class="table table-bordered table-hover" data-page-length='100'>
                <thead class="thead-light">
                  <tr>
                    <th>№</th>
                    <th>Наименование</th>
                    <th>Добавлено</th>
                    <th>Обновлено</th>
                    <th>Скачать</th>
                    <th>Удалить</th>

                  </tr>
                </thead>
                <tbody>

                  {% for document in documents %}
                    <tr class='clickable-row' data-href="{% url 'document-detail' document.id %}">
                      <td>{{ forloop.counter}}</td>
                      <td>{{ document.name}}</td>
                      <td>{{ document.document_file_created_at}}</td>
                      <td>{{ document.document_file_updated_at}}</td>
                      <td>
                          <a class="btn btn-primary" href="{{ document.file.url }}">Скачать</a>
                      </td>
                    <td>
                          <form method="post" action="{% url 'document-delete' document.id %}">
                              {% csrf_token %}
                              <button class="btn btn-danger" type="submit">Удалить</button>
                          </form>
                      </td>
                    </tr>
                  {% endfor %}

                </tbody>
              </table>
          </div>

{% endblock content %}
{% block morejs %}
    <script>

    $('#documentstable').DataTable({
        "language": {"url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"},
        "scrollX": true,
        searching: false,
        ordering: false,
        paging: false
    });

    function print_preview() {
        // Print the page
        window.print();
    }
    </script>
{% endblock morejs %}