{% extends 'core/base.html' %}

{% block pagename %}Отправка сообщения{% endblock pagename %}
{% block title %}
Ваше сообщение будет отправлено на электронную почту Министерства образования и науки Кыргызской Республики с указанием вашего ФИО и Email
{% endblock title %}


{% block content %}

<form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
	  {{ form.full_name.errors }}
	  {{ form.full_name }}
	</div>
    <div>
	  <label for="id_sender">E-mail отправителя:</label>
	  {{ form.sender.errors }}
	  {{ form.sender }}
	</div>
	<div>
	  <label for="id_subject">Тема:</label>
	  {{ form.subject.errors }}
	  {{ form.subject }}
	</div>
	<div>
	  <label for="id_message">Сообщение:</label>
	  {{ form.message.errors }}
	  {{ form.message }}
	</div>
	<div>
	  {{ form.copy.errors }}
	  <label for="id_copy">Отправить копию себе {{ form.copy }}</label>
	</div>
	<input type="submit" class="btn btn-primary" value="Отправить"/>
</form>


{% endblock content %}
