{% extends 'core/base.html' %}
{% block pagename %}Списов студентов{% endblock pagename %}
{% block title %}Список зарегистрированных в системе студентов{% endblock title %}

{% block breadcrumb %}
{% if  user.is_authenticated and user.is_superuser%}
    <a class="btn btn-primary" href="{% url 'student-create' %}"><i
        class="fas fa-plus"></i> Добавить</a>
{#    <button id="student-create" class="btn btn-primary" type="button" name="button" data-form-url="{% url 'student-create' %}"><i class="fas fa-plus mr-2"></i>Добавить</button>#}
{% endif %}
{% if  user.is_authenticated and user.user_type == 'university_employee'%}
    <a class="btn btn-primary" href="{% url 'student-create-emp' employee.edu_organisation.id %}"><i
        class="fas fa-plus"></i> Добавить</a>
{% endif %}
{% endblock breadcrumb %}

{% block content %}

  <table id="studenttable" style="width: 100%" class="table table-bordered table-hover" data-page-length='100'>
    <thead class="thead-light">
      <tr>
        <th>№</th>
        <th>Ф.И.О.</th>
        <th>Дата рождения</th>
        <th>Пол</th>
        <th>Предыдущее обучение</th>
        <th>Линия поступления</th>
        <th>Страна обучения</th>
        <th>Зарубежное место обучения</th>
        <th>Год поступления</th>
        <th>Программа обучения</th>
        <th>Период обучения</th>
        <th>Специальность</th>
        <th>Форма обучения</th>
        <th>Статус</th>
        <th>E-mail</th>
      </tr>
    </thead>
    <tbody>

      {% for student in students %}
        <tr class='clickable-row' data-href="{% url  'student-detail' student.user_id %}">
          <td>{{ forloop.counter }}</td>
          <td>{{ student.lastname }} {{student.firstname }} {{student.fathersname }}</td>
          <td>{{ student.date_of_birth }}</td>
          <td>{{ student.gender }}</td>
          <td>{{ student.edu_organisation }}</td>
          <td>{{ student.type_of_applying }}</td>
          <td>{{ student.education_country }}</td>
          <td>{{ student.university_name }}</td>
          <td>{{ student.year_of_applying }}</td>
          <td>{{ student.education_program }}</td>
          <td>{{ student.education_period_years }}</td>
          <td>{{ student.speciality }}</td>
          <td>{{ student.education_form }}</td>
          <td>{{ student.status }}</td>
          <td>{{ student.email }}</td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}


{% block morejs %}
<script type="text/javascript">
 $(function () {
    $("#studenttable").DataTable({
      "scrollX": true,
      "language": {
                    "processing": "Подождите...",
                    "search": "Поиск:",
                    "lengthMenu": "Показать _MENU_ записей",
                    "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                    "infoEmpty": "Записи с 0 до 0 из 0 записей",
                    "infoFiltered": "(отфильтровано из _MAX_ записей)",
                    "infoPostFix": "",
                    "loadingRecords": "Загрузка записей...",
                    "zeroRecords": "Записи отсутствуют.",
                    "emptyTable": "В таблице отсутствуют данные",
                    "paginate":
                    {
                        "first": "Первая",
                        "previous": "Предыдущая",
                        "next": "Следующая",
                        "last": "Последняя"
                    },
                    "aria": {
                        "sortAscending": ": активировать для сортировки столбца по возрастанию",
                        "sortDescending": ": активировать для сортировки столбца по убыванию"
                    },
                    "select": {
                        "rows": {
                            "_": "Выбрано записей: %d",
                            "0": "Кликните по записи для выбора",
                            "1": "Выбрана одна запись"
                        }
                    },
                    "buttons":
                    {
                         "print": "Печать",
                         "colvis": "Видимость столбцов"
                    }
                },
       columnDefs : [
            { 'visible': false, 'targets': [2, 3, 7, 8, 9, 10, 11, 12] }
        ],
      "buttons": ["csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#studenttable_wrapper .col-md-6:eq(0)');
  });
</script>
{% endblock morejs %}
