{% extends 'core/base.html' %}
{% block pagename %}
  Главная страница
{% endblock pagename %}

{% block main_content %}
  <section class="content">
      <div class="container-fluid">
          <div class="row">
          <div class="col-lg-4">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ students_count }}</h3>

                <p>Общее количество студентов</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="{% url 'student-list' %}" class="small-box-footer">Список студентов <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ employees_count }}</h3>

                <p>Общее количество сотрудников</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="{% url 'universities-list' %}" class="small-box-footer">Больше информации <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ universities_count }}</h3>

                <p>Общее количество ВУЗов</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="{% url 'universities-list' %}" class="small-box-footer">Список ВУЗов <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>


{#          <div class="row">#}
{#              <div class="col-lg-6">#}
{#                <div class="card card-danger">#}
{#                  <div class="card-header">#}
{#                    <h3 class="card-title">StudentAbroadCommon and Staff Chart</h3>#}
{##}
{#                    <div class="card-tools">#}
{#                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>#}
{#                      </button>#}
{#                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="card-body">#}
{#                    <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>#}
{#                  </div>#}
{#                  <!-- /.card-body -->#}
{#                </div>#}
{#              </div>#}

      </div>
    </section>
{% endblock main_content %}