{% extends 'core/base.html' %}
{% block pagename %}Список стран{% endblock pagename %}
{% block title %}Список стран{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="{% url 'country-upload' %}"><i
    class="fas fa-file-upload"></i> Загрузить с файла</a>
<a class="btn btn-primary" href="{% url 'country-create' %}"><i
    class="fas fa-plus"></i> Добавить</a>
{% endblock breadcrumb %}

{% block content %}
  <table id="universitytable" style="width: 100%" class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>№</th>
        <th>Название</th>
        <th>Долгота и широта</th>
        <th class="text-center">Действие</th>
      </tr>
    </thead>
    <tbody>

      {% for country in countries %}
{#        <tr class='clickable-row' data-href="{% url  'university-detail' university.id %}">#}
        <tr>
          <td>{{ forloop.counter}}</td>
          <td>{{ country.name_ru}}</td>
          <td>{{ country.latitude }} | {{ country.longitude }}</td>
          <td class="text-center">
              <div class="btn-group">
                  <a type="button" class="btn btn-primary" href="{% url 'country-update' country.id %}"><i class="fa fa-edit"></i> Изменить</a>
                  <a type="button" class="btn btn-danger" href="{% url 'country-delete' country.id %}"><i class="fa fa-trash"></i>  Удалить</a>
              </div>
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock content %}


{% block morejs %}


{% endblock morejs %}
