{% extends 'core/base.html' %}
{% block pagename %}Списов студентов{% endblock pagename %}
{% block title %}Список зарегистрированных в системе студентов{% endblock title %}

{% block breadcrumb %}
{% if  user.is_authenticated and user.is_superuser%}
    <a class="btn btn-primary" href="{% url 'student-abroad-create' %}"><i
        class="fas fa-plus"></i> Добавить</a>
{#    <button id="student-create" class="btn btn-primary" type="button" name="button" data-form-url="{% url 'student-create' %}"><i class="fas fa-plus mr-2"></i>Добавить</button>#}
{% endif %}
{% if  user.is_authenticated and user.is_employee%}
    <a class="btn btn-primary" href="{% url 'student-abroad-create-emp' employee.university.id %}"><i
        class="fas fa-plus"></i> Добавить</a>
{% endif %}
{% endblock breadcrumb %}

{% block content %}
<button class="btn btn-secondary" id="show-btn" style="margin-bottom: 10px"> Показать/Скрыть столбцы <i class="fas fa-arrow-down" id="btn-icon"></i></button>
<div class="list_view border" id="checkboxes" style="display: none">
<div class="row">
    <div class="col-md-4">
        <label class="form-control" for="1"><input  type="checkbox" name="list" data-target ="1" value="Ф.И.О" id="1" checked> Ф.И.О</label>
        <label class="form-control" for="2"><input  type="checkbox" name="list" data-target ="2" value="Гражданство" id="2" checked> Гражданство</label>
        <label class="form-control" for="3"><input  type="checkbox" name="list" data-target ="3" value="Этнический кыргыз" id="3" > Этнический кыргыз</label>
        <label class="form-control" for="4"><input  type="checkbox" name="list" data-target ="4" value="Дата рождения" id="4" checked> Дата рождения</label>
        <label class="form-control" for="5"><input  type="checkbox" name="list" data-target ="5" value="Тип обучения" id="5" checked> Тип обучения</label>
    </div>
    <div class="col-md-4">
        <label class="form-control" for="6"><input  type="checkbox" name="list" data-target ="6" value="Место обучения" id="6" checked> Место обучения</label>
        <label class="form-control" for="7"><input  type="checkbox" name="list" data-target ="7" value="Факультет/кафедра" id="7" checked> Факультет/кафедра</label>
        <label class="form-control" for="8"><input  type="checkbox" name="list" data-target ="8" value="Программа/направление" id="8"> Программа/направление</label>
        <label class="form-control" for="9"><input  type="checkbox" name="list" data-target ="9" value="Обучение на квалификацию" id="9"> Обучение на квалификацию</label>
        <label class="form-control" for="10"><input  type="checkbox" name="list" data-target ="10" value="Серия и номер паспорта" id="10"> Серия и номер паспорта</label>
    </div>
    <div class="col-md-4">
        <label class="form-control" for="11"><input  type="checkbox" name="list" data-target ="11" value="Номер телефона" id="11" checked> Номер телефона</label>
        <label class="form-control" for="12"><input  type="checkbox" name="list" data-target ="12" value="Адрес проживания" id="12" checked> Адрес проживания</label>
    </div>
</div>

</div>

  <table id="studenttable" style="width: 100%" class="table table-bordered table-hover" data-page-length='100'>
    <thead class="thead-light">
      <tr>
        <th>№</th>
        <th>Ф.И.О.</th>
        <th>Гражданство</th>
        <th>Этнический кыргыз</th>
        <th>Дата рождения</th>
        <th>Тип обучения</th>
        <th>Место обучения</th>
        <th>Факультет/кафедра</th>
        <th>Программа/направление</th>
        <th>Обучение на квалификацию</th>
        <th>Серия и номер паспорта</th>
        <th>Номер телефона</th>
        <th>Адрес проживания</th>
      </tr>
    </thead>
    <tbody>

      {% for student in students %}
        <tr class='clickable-row' data-href="{% url  'student-abroad-detail' student.id %}">
          <td>{{ forloop.counter }}</td>
          <td>{{ student.full_name }}</td>
          <td>{{ student.country }}</td>
          <td>
          {% if student.ethnical_kyrgyz%}
              Да
          {% else %}
              Нет
          {% endif %}
          </td>
          <td>{{ student.date_of_birth }}</td>
          <td>{{ student.education_type }}</td>
          <td>{{ student.university }}</td>
          <td>{{ student.department }}</td>
          <td>{{ student.speciality }}</td>
          <td>{{ student.degree }}</td>
          <td>{{ student.passport_number }}</td>
          <td>{{ student.phone_number }}</td>
          <td>{{ student.address }}</td>

        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock content %}


{% block morejs %}
<script type="text/javascript">
$(document).ready(function () {

    /** Создаем поисковые поля для каждого столбца*/
    $('#studenttable thead tr').clone(true).appendTo( '#studenttable thead' );
    $('#studenttable thead tr:eq(1) th').each( function (i) {
        var title = $(this).text();


        /*if($(this).index() == 0 || $(this).index() == 1 || $(this).index() == 2 || $(this).index() == 5){*/
            $(this).html( '<input type="text" class="form-control" placeholder="'+title+'" />' );
            $('input', this).on( 'keyup change', function () {
                if ( table.column(i).search() !== this.value ) {
                    table
                        .column(i)
                        .search( this.value )
                        .draw();
                }
            } );
        /*}*/
    } );

    /** Создаем DataTable*/
    var table = $('#studenttable').DataTable({
        orderCellsTop: true,
        paging: false,
        fixedHeader: true,
        dom: 'Bfrtip',
        /**Задаем по умолчанию невидимые столбцы*/
        columnDefs : [
            { 'visible': false, 'targets': [3, 8, 9, 10] }
        ],
        buttons: [
            {
                extend: 'excelHtml5',
                text: 'Выгрузить в Excel',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'pdfHtml5',
                text: 'Выгрузить в PDF',
                exportOptions: {
                    columns: ':visible',
                },
                orientation: 'landscape',
                pageSize: 'LEGAL'
            }
        ],
        "language": {"url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"},
        "scrollX": true
    });

    /** Функция работающая при смене галочек*/
    $('.list_view input[type="checkbox"]').on('change', function(e) {
        // Get the column API object
        var col = table.column($(this).attr('data-target'));
        // Toggle the visibility
        col.visible(!col.visible());
    });
    /** Функция для кнопки скрыть/показать столбцы */
    $(document).on('click', '#show-btn', function(e) {
        var div = document.getElementById('checkboxes')
        var icon = document.getElementById('btn-icon')

        if(div.style.display === "none"){
            div.style.display = "block"
            icon.classList.remove("fa-arrow-down")
            icon.classList.add("fa-arrow-up")
        }else{
            div.style.display = "none"
            icon.classList.remove("fa-arrow-up")
            icon.classList.add("fa-arrow-down")
        }
    });
});
</script>
{% endblock morejs %}
