{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block pagename %}{% endblock pagename %}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'dist/css/style.css' %}" rel="stylesheet">
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="{% static 'dist/img/logo.png' %}" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          {% block navitems %}


          {% endblock navitems %}
        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->

  {% block main %}

  {% endblock main %}

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3 style="font-size: 26px">Министерство Образования и Науки Кыргызской Республики</h3>
            <p>
                Министерство образования и науки Кыргызской Республики (МОиН КР) - орган государственной политики и нормативно-правовому регулированию в сфере образования, научной, научно-технической и инновационной деятельности, интеллектуальной собственности, а также в сфере воспитания, социальной поддержки и социальной защиты обучающихся и воспитанников образовательных учреждений.
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>О министерстве</h4>
            <ul>
              <li><a href="https://edu.gov.kg/ru/about/people/">Руководство</a></li>
              <li><a href="https://edu.gov.kg/ru/about/kollegiya/">Коллегия</a></li>
              <li><a href="https://edu.gov.kg/ru/about/community-board/">Общественный совет</a></li>
              <li><a href="https://edu.gov.kg/ru/contacts/feedback/ministry-meetings/">Обсуждение</a></li>
              <li><a href="https://edu.gov.kg/ru/about/otchety/">Отчеты</a></li>
              <li><a href="https://edu.gov.kg/ru/about/">Общая информация</a></li>
              <li><a href="https://edu.gov.kg/ru/about/proekty/">Проекты</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Образование</h4>
            <ul>
              <li><a href="https://edu.gov.kg/ru/kindergarten/">Дошкольное</a></li>
              <li><a href="https://edu.gov.kg/ru/schools/save-schools/">Школьное</a></li>
              <li><a href="https://edu.gov.kg/ru/non-formal-education/">Внешкольное</a></li>
              <li><a href="https://edu.gov.kg/ru/profi-tech-edu/">Профессионально-техническое</a></li>
              <li><a href="https://edu.gov.kg/ru/high-education/">Высшее</a></li>
              <li><a href="https://edu.gov.kg/ru/schools/gosudarstvennyj-obrazovatelnyj-standart/">Государственный образовательный стандарт</a></li>
              <li><a href="https://edu.gov.kg/ru/standarts/government-standarts/gosudarstvennye-uslugi/">Государственные услуги</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Обратная связь</h4>
            <p>
              Кыргызская Республика <br>
              720040, Бишкек<br>
              ул. Тыныстанова 257<br>
              <strong>Отдел международного сотрудничества:</strong> +996(312)62-15-19<br>
              <strong>Email:</strong> minedukg@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="https://twitter.com/moeskg" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/minobrkg/" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>



        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Студенты за рубежом</strong>. Все права защищены
      </div>
      <div class="credits">
        Разработано <a href="https://socservice.kg/">ГП "СоцСервис"</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/mobile-nav/mobile-nav.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'dist/js/main.js' %}"></script>
  {% block morescript %}

  {% endblock morescript %}

</body>
</html>
